node_modules/**
bower_components/**
assets/css/main.min.css.map
.sass-cache
assets/css/main.min.css
assets/js/scripts.min.js
assets/js/modernizr.min.js
assets/js/jquery.min.js
*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
